h1
{
    color: rgb(0, 39, 39);
    text-align: center;
}
.main
{
    width: 500px;
    height: 550px;
    background-color: aliceblue;
    border-radius: 10px;
    
}
body
{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.input
{
    display: flex;
    justify-content: center;
}

#intext
{
    width: 380px;
    height: 40px;
    border-radius: 5px 0px 0 5px;
    margin-right: 0px;
    border-width: 1px 0 1px 1px;
}

#add
{
    width: 50px;
    background-color: aqua;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0px;
    font-size: 30px;
}

.tasks
{
    display: flex;
    justify-content: start;
    margin-left: 10px;
}
li
{
    padding-bottom: 5px;
    list-style: none;
    font-size: 20px;
}

button
{
    cursor: pointer;
}

#dlt
{
    margin-left: 10px;
    
}

input::placeholder
{
    color: rgb(5, 63, 63);
    padding-left: 10px;
    font-weight: 200;
    font-size: medium;
}

/* Default text color inside input */
input[type="text"] {
    color: blue; /* Text color */
    background-color: #f0f0f0; /* Optional background */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 20px;
    font-size: larger;
}

/* Change text color when input is focused */
input[type="text"]:focus {
    color: red; /* Text color when typing */
    border-color: #ff0000;
    outline: none; /* Remove default outline */
}